:root{
    --yellow:#fbca1f;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-weight: 500;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #fff;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    width: 350px;
    height: 420px;
    margin: 15px 0 25px 0;
    background-color: var(--yellow);
    box-shadow: 0.15em 0.10em 0.25em 0.15em;
}

button {
    background: var(--yellow);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  .list{
    list-style: none;
}
.list-li{
    padding: 1em;
    background: linear-gradient(to right, #ffc04c, #ffb01d);
    border-radius: 5px;
}