*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;

}
.container{
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    width: 500px;
    height: 350px;
}
.container h1{
    text-align: center;
    padding: 10px;
}
.container button{
    margin: 10px;
    padding:7px;
}
.colors{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colors label{
    padding: 10px;
}
.colors input{
    width: 4rem;
    background-color: #fff;
    border: none;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}